.window, .window2{
	display:none;
	width: 50%;
	height: 100%;
	position: absolute;
	left: 25%;
	top: 10%;
	background: #FFF;
	z-index: 9900;
	padding: 10px;
	border-radius: 10px;
}

#mascara{
	display:none;
	position:absolute;
	left:0;
	top:0;
	z-index:9000;
	background-color:#000;
}

.fechar{
	display:block;
	text-align:right;
}

.form_painel_notice{
	width: 90%;
	margin: 0 auto;
	margin-top: 10%;
}
.label_notice{
	display:block;
}

.input_fuc{
	width: 100%;
}

.acoes a span{
	border-radius: 7px;
	padding: 4px;
	font-size: 12px;
	color: #fff;
}

.spanEdit{
	background: #28c3d4;
}

.spanDel{
	background: #0003d4;
}

